<div class="container">
    <h1 class="animated fadein fast text-center titulo"><i class="fa-solid fa-music"></i>&nbsp;&nbsp; New Releases &nbsp;&nbsp;<i class="fa-solid fa-music"></i></h1>
    <hr>
  
            <div class="card-columns">
                <div class="card animated fadein fast" *ngFor="let item of Releases">
                    <div class="cardImg"><img [src]="item.images[0].url" alt="" class="card-img-top img-fluid"></div>    
                    
                    <div class="card-body">
                        <h6 class="card-tittle"><i class="fa-brands fa-spotify"></i> {{item.name | titlecase}}</h6>
                        <p class="card-text">{{item.artists[0].name | titlecase}}</p>
                        <div class="section">
                            <div class="date">
                                <p class="card-text"><small class="text-muted">Release date: {{item.release_date}}</small></p>
                            </div>
                            <div class="track">
                                <p class="card-text text-success"><i class="fa-solid fa-headphones-simple"></i> {{item.total_tracks}}</p>
                            </div>
                            
                        </div>
                        
                        <a href="#" class="btn btn-success"> <i class="fa-solid fa-play"></i>&nbsp; Listen the song</a>
                    </div>
                </div>
            </div>




</div>
