*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}


.navbar{
    border-bottom: 1px #1dd05d solid;
    background-color: #000;
}

.titulo{
    margin-top: 70px;
    margin-bottom: 30px;
    
}
h1{
    background: #FFFFFF;
    background: linear-gradient(to top left, #FFFFFF 1%, #1DD05D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*Libreria avanzada CSS Animaciones*/

.animated{
    -webkit-animation-duration: 5s;
    animation-duration: 5s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes fadein{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.fadein{
    animation-name: fadein;
}

.card:hover{

}

.card-buscador{
    margin-top: 80px;
}